body {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  header {
    background-color: #0099db;
    color: white;
    text-align: start;
  }
  .container {
    display: flex;
    flex: 1;
  }
  .left-panel {
    width: 20%;
    background-color: #f4f4f4;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  }
  .main-content {
    flex: 1;
    padding: 1rem;
  }
  .logo{
    font-weight: bold;
    margin-left: 1rem;
    color: white;
    display: inline-block;
  }
  /* h2{
    display: inline-block;
    align-self: center;
  } */